body {
  font-family: 'Helvetica Neue', sans-serif;
}

#top-nav,
#main-nav-dropdown,
#Faqs {
  background-color: #9ae6cc;
}

#footer {
  background-color: #2bad82;
}

.search {
  color: white;
  background-color: #366153;
}

.search-2 {
  color: white;
  background-color: #2bad82;
}

.search-3 {
  color: white;
  background-color: #38e0a8;
}

.review-card {
  background-color: #9ae6cc;
}
